mixin meta()
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
  title= title
  meta(content=title name="title")
  meta(id="description_text" property="og:title" content=title)
  meta(name="description" content=description)
  meta(name="keywords" content=keywords)
  meta(property="og:description" content=description)
  meta(property="og:keywords" content=keywords)
  meta(name="og:type" content="website")
  meta(name="og:site_name" content="xxxxxxxxx")
  meta(property="og:url" content=ogUrl)
  meta(property="og:image" content=ogImg)
  meta(name="twitter:card" content="summary_large_image")
  link(rel='shortcut icon' href="")